# Laravel
/vendor
/storage/*.key
/storage/pail
/storage/app/*
!/storage/app/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/
!bootstrap/cache/.gitignore

# Environnements
.env
.env.*
.env.backup
.env.production
.env.testing

# Logs & caches
*.log
nohup.out
.phpunit.result.cache
/.phpunit.cache
.phpunit.cache
.phpactor.json
npm-debug.log
yarn-error.log

# Public/build (vite, mix, react)
/public/js
/public/css
/public/build
/public/hot
/public/storage
/public/mix-manifest.json

# Docker & CI/CD spécifiques
letsencrypt/
www.conf
nginx.dev.conf
nginx.prod.conf
docker-compose.override.yml
*.local.yml
*.bak

# Composer / Auth
/auth.json

# IDE & tooling
/.vscode
/.idea
/.nova
/.zed
/.fleet
.DS_Store
*.sublime-project
*.sublime-workspace

# Git hooks
.git/hooks/*
